@import 'mixin';
@import 'fonts';
@import 'elements';
@import 'media-queries';

/* predeifine */
body, html{
	@include font-family;
	background: #111!important;
}

/* common  */
.clear{
	clear: both;
	height: 0px;
}
.align-center{
	text-align: center;
}

/* page transition */
#pt-main{
	.pt-page{
		background: #fff!important;

		.pt-page-inner{
			margin-top: 53px;
			overflow: hidden;
			position: relative;
			z-index: 10;
			outline: none;
			@include box-sizing;

			.contentContainer{
				max-width: 1170px;
				min-height: 1000px;
				padding: 20px 10px 120px 10px;
				margin: 0 auto 0 auto;

				h1{
					font-size: 48px;
				}
			}
		}
		.backdrop{
			@include background-black-trans;
			z-index: 1;
			position: absolute;
			height: 100%;
			width: 100%;
			left: 0px;
			top: 0px;
		}

		/* homepage */
		&.pt-page-1{
			background: #111 url(../img/bg-image.jpg) no-repeat center center!important;
			background-size: 100% auto;
			color: #fff;

			h1{
				margin-top: 100px;
				display: none;
			}
			h4{
				display: none;
				margin-bottom: 50px;
				@include animation-delay(0.3s);
			}
			.getstarted{
				display: none;
				max-width: 320px;
				padding: 0 0 0 0;
				margin: 0 auto 20px auto;
				@include animation-delay(0.3s);

				a{
					display: block;
					margin-bottom: 0px;
				}
			}
			.getstarted_form{
				display: none;
				max-width: 600px;
				padding: 50px 0 0 0;
				margin: 0 auto 0 auto;

				p{
					padding: 10px 0 0 0;
					margin: 0 0 5px 0;
				}
				h3{
					padding-right: 15px;
					padding-left: 15px;

					@media #{$screenview_min480}{
						margin-top: 0px;
					}
					@media #{$screenview_min321}{
						margin-top: 0px;
					}
					@media #{$screenview_max320}{
						margin-top: 0px;
					}
				}
				h5{
					padding-right: 15px;
					padding-left: 15px;
					padding-bottom: 20px;
					margin-bottom: 20px;
					border-bottom: 1px solid #444;
				}
				.btn-default{
					width: 100%;
					padding-top: 15px;
					padding-bottom: 15px;
					margin-top: 10px;
				}
				@media #{$screenview_min480}{
					padding-top: 0px;
				}
				@media #{$screenview_min321}{
					padding-top: 0px;
				}
				@media #{$screenview_max320}{
					padding-top: 0px;
				}
			}
		}

		/* how it works */
		&.pt-page-2{
			background: #111 url(../img/bg-locker.jpg) no-repeat center center!important;
			background-size: 100% auto;
			background-attachment: fixed;
			color: #fff;

			h1{
				display: none;
				margin-top: 30px;

				@media #{$screenview_min1024}{margin-top: 20px;}
				@media #{$screenview_min768}{margin-top: 20px;}
				@media #{$screenview_min600}{margin-top: 20px;}
				@media #{$screenview_min480}{margin-top: 20px;}
				@media #{$screenview_min321}{margin-top: 20px;}
				@media #{$screenview_max320}{margin-top: 20px;}
			}
			h4{
				display: none;
				margin-bottom: 50px;
				@include animation-delay(0.3s);
			}
			.stepswrapper{
				max-width: 1000px;
				margin: 0 auto 0 auto;

				.stepwrapper{
					display: none;
					background: rgba(0,0,0,0.5);
					text-align: center;
					margin: 0 0 20px 0;
					padding: 20px;
					@include text-shadow;
					@include border-radius(5px);
					@include box-shadow;
				}
				.imgWrapper{
					margin: 0 0 10px 0;
				}
				h5{
					font-size: 16px;
					color: #FCA20D;
					padding: 10px 0 10px 0;
					margin: 0 0 10px 0;
					border-bottom: 1px solid #666;
				}
				p{
					padding: 0 0 0 0;
					margin: 0 0 0 0;
				}
				img{
					max-width: 100%;
					width: auto;
				}
			}
		}

		/* location page */
		&.pt-page-3{
			background: #111 url(../img/map-cebu2.jpg) no-repeat center center!important;
			background-size: 100% auto;
			background-attachment: fixed;
			color: #fff;

			h1{
				display: none;
				margin-top: 30px;

				@media #{$screenview_min1024}{margin-top: 20px;}
				@media #{$screenview_min768}{margin-top: 20px;}
				@media #{$screenview_min600}{margin-top: 20px;}
				@media #{$screenview_min480}{margin-top: 20px;}
				@media #{$screenview_min321}{margin-top: 20px;}
				@media #{$screenview_max320}{margin-top: 20px;}
			}
			h4{
				display: none;
				margin-bottom: 50px;
				@include animation-delay(0.3s);
			}
			.maps{
				min-height: 500px;
			}
			.mapsContainer{
				display: none;
				@include animation-delay(0.8s);
			}
			.mapwrapper{
				display: none;
				position: relative;
				max-width: 100%;
				background: #fff;
				border: 1px solid #fff;
				@include box-sizing;
				@include box-shadow;

				img{
					width: 100%;
				}
				&.showing{
					display: block!important;
				}
			}
			.locationlist{
				display: none;
				padding: 20px;
				margin: 0 0 20px 0;
				border: 1px solid #444;
				list-style-type: none;
				background: rgba(0,0,0,0.4);
				@include border-radius(4px);
				@include box-shadow;
				@include box-sizing;
				@include animation-delay(0.3s);

				li{
					padding: 0 0 6px 0;
					margin: 0 0 6px 0;
					font-size: 12px;
					border-bottom: 1px solid #666;

					&:last-child{
						padding: 0 0 0 0;
						margin: 0 0 0 0;
						border: none;
					}
					span.location{
						display: block;
						padding-left: 20px;
						cursor: pointer;
						position: relative;

						i{
							left: 0px;
							top: 2px;
							position: absolute;
							color: #FCA20D;
							margin-right: 10px;
						}
						&:hover{
							color: #FCA20D;
						}
					}
				}
			}
		}

		/* faq page */
		&.pt-page-4{
			background: #111 url(../img/bg-faq.jpg) no-repeat center center!important;
			background-size: 100% auto;
			background-attachment: fixed;
			color: #fff;

			h1{
				display: none;
				margin-top: 30px;

				@media #{$screenview_min1024}{margin-top: 20px;}
				@media #{$screenview_min768}{margin-top: 20px;}
				@media #{$screenview_min600}{margin-top: 20px;}
				@media #{$screenview_min480}{margin-top: 20px;}
				@media #{$screenview_min321}{margin-top: 20px;}
				@media #{$screenview_max320}{margin-top: 20px;}
			}
			h4{
				display: none;
				margin-bottom: 50px;
				@include animation-delay(0.3s);
			}
			.faqGroupHeading{
				cursor: pointer;
				display: none;
				background: #000;
				width: 100%;
				padding: 15px 20px 15px 20px;
				margin: 0 0 10px 0;
				@include box-sizing;
				@include box-shadow;
				@include border-radius(3px);

				&.collapse-down,
				&:hover{
					color: #FCA20D;
				}
			}
			.faqlist{
				display: none;
				background: #fff;
				padding: 15px 5px 15px 5px;
				margin: 0 0 10px 0;
				list-style-type: none;
				@include border-radius(3px);
				@include box-shadow;

				li{
					padding: 0 5px 5px 5px;
					margin: 0 0 5px 0;
					border-bottom: 1px solid #e5e5e5;

					a{
						outline: none;
						display: block;
						position: relative;
						color: #111;
						font-size: 12px;
						text-decoration: none;
						padding-left: 20px;
						padding-top: 5px;
						padding-right: 5px;
						padding-bottom: 5px;
						@include border-radius(2px);

						i{
							position: absolute;
							margin: 0 0 0 0;
							left: 0px;
							top: 7px;
							color: #ccc;
						}
						&:hover{
							background: #FCA20D;
							color: #fff;
							text-shadow: -1px -1px 0px #ea960d;
							@include box-shadow;

							i{
								color: #fff;
								text-shadow: none;
							}
						}
					}
					&:last-child{
						border-bottom: none;
						padding-bottom: 5px;
						margin-bottom: 0px;
					}
				}
			}
			.faqContent{
				color: #111;
				display: none;
				background: #fff;
				padding: 20px;
				@include border-radius(3px);
				@include box-sizing;
				@include box-shadow;
				@include animation-delay(0.5s);

				h2{
					padding: 15px;
					margin: 0 0 20px 0;
					background: #5D9CEC;
					color: #fff;
					@include border-radius(3px);

					i{
						color: #aaa;
						margin: 0 10px 0 0;
					}
				}
				h3{
					padding: 0 0 15px 55px;
					margin: 0 0 15px 0;
					font-weight: normal;
					font-size: 20px;
					border-bottom: 1px solid #ddd;
					position: relative;

					i{
						color: #aaa;
						margin: 0 10px 0 0;
					}
					span{
						position: absolute;
						display: block;
						left: 0px;
						top: 0px;
						color: #FCA20D;
					}
				}
				p{
					font-size: 12px;
					margin: 0 0 0 0;
					padding: 0 0 20px 0;
				}
				.textwrapper{
					padding: 0 10px 0 10px;

					ul,
					ol{
						margin-bottom: 20px;
					}
				}
			}
		}

		/* signup page */
		&.pt-page-5{
			background: #111 url(../img/bg-signup.jpg) no-repeat center center!important;
			background-size: 100% auto;
			background-attachment: fixed;
			color: #fff;

			h1{
				display: none;
				margin-top: 30px;

				@media #{$screenview_min1024}{margin-top: 20px;}
				@media #{$screenview_min768}{margin-top: 20px;}
				@media #{$screenview_min600}{margin-top: 20px;}
				@media #{$screenview_min480}{margin-top: 20px;}
				@media #{$screenview_min321}{margin-top: 20px;}
				@media #{$screenview_max320}{margin-top: 20px;}
			}
			h4{
				display: none;
				margin-bottom: 50px;
				@include animation-delay(0.3s);
			}
			.signupform-container{
				max-width: 768px;
				margin: 0 auto 0 auto;
				text-align: center;

				input[type="text"],
				input[type="email"],
				input[type="password"],
				input[type="number"]{
					background: url(../img/bg_whitetransparent.png) repeat left top;
					display: none;
					border: 2px solid #FFFFFF;
					height: 50px;
					padding: 10px;
					color: #fff;
					font-size: 14px;
					margin: 0 0 15px 0;
					@include border-radius(5px);
					@include box-sizing;
					@include box-shadow;
					@include transition;

					&:focus,
					&:hover{
						background: #fff;
						color: #111;
					}
				}
				.field2,
				.field4{
					@include animation-delay(0.3s);
				}
				.btn-default{
					display: none;
					width: 100%;
					max-width: 300px;
					margin: 0 auto 20px auto;
					@include animation-delay(0.6s);
					@include box-shadow;
				}
				.agreement{
					background: rgba(0,0,0,0.5);
					display: none;
					padding: 10px;
					margin: 0 15px 25px 15px;
					@include border-radius(3px);
					@include box-sizing;
					@include box-shadow;
				}
			}
		}

		/* login page */
		&.pt-page-6{
			background: #111 url(../img/bg-login.jpg) no-repeat center center!important;
			background-size: 100% auto;
			background-attachment: fixed;
			color: #fff;

			h1{
				display: none;
				margin-top: 30px;

				@media #{$screenview_min1024}{margin-top: 20px;}
				@media #{$screenview_min768}{margin-top: 20px;}
				@media #{$screenview_min600}{margin-top: 20px;}
				@media #{$screenview_min480}{margin-top: 20px;}
				@media #{$screenview_min321}{margin-top: 20px;}
				@media #{$screenview_max320}{margin-top: 20px;}
			}
			h4{
				display: none;
				margin-bottom: 50px;
				@include animation-delay(0.3s);
			}
			.loginform-container{
				max-width: 768px;
				margin: 0 auto 0 auto;
				text-align: center;

				input[type="text"],
				input[type="email"],
				input[type="password"],
				input[type="number"]{
					background: url(../img/bg_whitetransparent.png) repeat left top;
					display: none;
					border: 2px solid #FFFFFF;
					height: 50px;
					padding: 10px;
					color: #fff;
					font-size: 14px;
					margin: 0 0 15px 0;
					@include border-radius(5px);
					@include box-sizing;
					@include box-shadow;
					@include transition;

					&:focus,
					&:hover{
						background: #fff;
						color: #111;
					}
				}
				.btn-default{
					display: none;
					width: 100%;
					max-width: 300px;
					margin: 0 auto 20px auto;
					@include animation-delay(0.6s);
					@include box-shadow;
				}
				.loginOptions{
					background: rgba(0,0,0,0.5);
					display: none;
					padding: 10px;
					margin: 0 15px 25px 15px;
					text-align: left;
					@include border-radius(3px);
					@include box-sizing;
					@include box-shadow;

					.col{
						@media #{$screenview_min321}{
							padding: 0 0 0 0;
							@include box-sizing;
						}
						@media #{$screenview_max320}{
							padding: 0 0 0 0;
							@include box-sizing;
						}
					}
					p{
						padding: 0 0 0 0;
						margin: 0 0 0 0;

						@media #{$screenview_min600}{padding-bottom: 5px;}
						@media #{$screenview_min480}{padding-bottom: 5px;}
						@media #{$screenview_min321}{padding-bottom: 5px;}
						@media #{$screenview_max320}{padding-bottom: 5px;}
					}
					input[type="checkbox"]{
						border: none;
						background: #fff;
						margin-right: 10px;
						margin-top: 0px;
						margin-left: 0px;
						margin-bottom: 0px;
						@include border-radius(3px);
					}
				}
			}
		}
	}
}
.gotop{
	cursor: pointer;
	z-index: 99;
	display: block;
	position: fixed;
	width: 30px;
	height: 30px;
	background: #FCA20D;
	color: #fff;
	right: 20px;
	bottom: 110px;
	opacity: 1;
	font-size: 20px;
	text-align: center;
	vertical-align: center;
	@include transition;
	@include border-radius(3px);
	
	@media #{$screenview_min1349}{
		width: 60px;
		height: 60px;
		font-size: 38px;
		opacity: 0.5;

		&:hover{ opacity: 1; }
	}
	@media #{$screenview_min1200}{
		width: 40px;
		height: 40px;
		font-size: 26px;
		opacity: 0.5;

		&:hover{ opacity: 1; }
	}
}

/* navigation bar */
.navbar-default{
	background: #000!important;
	border-bottom: none!important;

	.container-fluid{
		max-width: 1170px;
		padding-right: 20px;
		padding-left: 20px;

		.navbar-brand{
			color: #fca20d;
			font-size: 28px;
			line-height: normal;
			height: auto;
			padding: 0 0 0 0;
			margin: 5px 0 0 0!important;

			&:hover{
				color: #fff;
			}
			i{
				color: #fff;
			}
		}
	}
	.navbar-nav > li{
		margin-left: 5px;
	}
	.navbar-nav > li > a{
		outline: none;
		color: #fff!important;
		border-bottom: 3px solid transparent;
		@include transition;

		&:hover,
		&.active{
			color: #fff!important;
			border-bottom: 3px solid #fca20d;
		}
	}
}

/* footer */
footer{
	width: 100%;
	background: #f5f5f5;
	position: fixed;
	min-height: 80px;
	@include box-sizing;
	z-index: 9;
	bottom: 0px;

	.footer-inner{
		max-width: 1170px;
		padding: 10px 20px 10px 20px;
		margin: 0 auto 0 auto;

		.copyright{
			float: left;
			font-size: 12px;
			padding: 0 0 0 0;
			margin: 20px 0 0 0;
			line-height: normal;
			color: #666;
		}
	}
	@media #{$screenview_min480}{
		display: none!important;
	}
	@media #{$screenview_min321}{
		display: none!important;
	}
	@media #{$screenview_max320}{
		display: none!important;
	}
}
.getintouch{
	float: right;
	padding: 8px 0 0 0;
	margin: 0 0 0 0;
	list-style-type: none;

	li{
		float: left;
		margin-left: 10px;

		p{
			font-size: 12px;
			padding: 0 0 0 0;
			margin: 12px 0 0 0;
			line-height: normal;
		}
		a{
			font-size: 20px;
			color: #999;
			display: block;
			width: 40px;
			height: 40px;
			@include border-radius(100%);
			border: 1px solid #999;
			text-align: center;
			vertical-align: middle;

			i{
				margin-top: 10px;
			}
		}
	}
}

/* custom scrollbar */
.nicescroll-rails{
	display: none!important;
	margin-left: -5px!important;
	z-index: -1!important;

	&.activateScroll{
		display: block!important;
		z-index: 10!important;
	}
}

/* header */
header{
	max-width: 100%;
	min-height: 50px;
	width: 100%;
	position: fixed;
	background: red;
	display: none;
}

/* page container */
.pageContainer{
	padding-top: 50px;
}

/* left sidebar */
#leftSideBar{
	background: blue;
}

/* content section */
#pageBody{
	background: yellow;
}